# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
*.pyc

# My Ignores
\.DS_Store
\.classpath
\.project
\.settings
\.metadata/
Servers/
target/
.idea
.vagrant
*.jar
*.zip
*.iso
_downloads/
.venv
__pycache__
node_modules/
package-lock.json
package.json
.spectral_owasp.yaml
spectral-sarif/
report_spectral_owasp.json
report_spectral_owasp.sarif